<h1>Regístrate</h1>



<form method="POST" id="userForm">
<div class="col-sm-8 col-sm-offset-2">
	<div class="form-group {% if validation.hasFieldErrors("name") %} has-error {% endif %}">
      <label for="input1">Nombre:</label>
      <input id="input1" class="form-control" type="text" name="name" placeholder="Nombre Apellido" value="{{ formData.name }}"/>
    </div>
	
	<div class="form-group {% if validation.hasFieldErrors("email") %} has-error {% endif %}">
      <label for="input2">Email:</label>
      <input id="input2" class="form-control" type="text" name="email" placeholder="nombre@miempresa.cl" value="{{ formData.email }}"/>
    </div>

	<div class="form-group {% if validation.hasFieldErrors("password") %} has-error {% endif %}">
      <label for="input3">Contraseña inicial:</label>
      <input id="input3" class="form-control" type="password" name="password" value="{{ formData.password }}"/>
    </div>

	<div class="form-group {% if validation.hasFieldErrors("passwordRepeat") %} has-error {% endif %}">
      <label for="input4">Repetir contraseña:</label>
      <input id="input4" class="form-control" type="password" name="passwordRepeat" value="{{ formData.passwordRepeat }}"/>
    </div>

	<div class="form-group {% if validation.hasFieldErrors("userType") %} has-error {% endif %}">
      <label for="input5">Tipo de registro:</label>
      <select name="userType" id="input5" class="form-control">
        <option value="CLIENT" {% if formData.userType=="USER" %}selected{% endif %}>Usuario</option>
      </select>
    </div>
	
    {{ csrfField }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
    function submitForm() {
        $('#userForm').submit();
    };
    </script>
    <button class="btn btn-default g-recaptcha" data-sitekey="{{ recaptchaKey }}" data-callback="submitForm">Registrarme</button>
</div>
</form>
